<% function getRandomArrayElements(arr, count) {
    let shuffled = arr.slice(0), i = arr.length, min = i - count, temp, index;
    while (i-- > min) {
        index = Math.floor((i + 1) * Math.random());
        temp = shuffled[index];
        shuffled[index] = shuffled[i];
        shuffled[i] = temp;
    }
    return shuffled.slice(min);
} %>
<% var arrColor = ['#ffff00','#13f3b6'] %>
<% var bgcolor=getRandomArrayElements(arrColor,1) %>
<div id="top-bg-bar" style="background-color: <%=bgcolor %>"></div>
<div id="bottom-bg-bar" style="background-color: <%=bgcolor %>"></div>
<div id="left-bg-bar" style="background-color: <%=bgcolor %>"></div>
<div id="right-bg-bar" style="background-color: <%=bgcolor %>"></div>
<div id="left-bg-bar1" style="background-color: <%=bgcolor %>"></div>
<div id="right-bg-bar1" style="background-color: <%=bgcolor %>"></div>

<div id="archive">
  
  <div class="block-explore-title">
    <h2 class="block-explore-title-header"><%= page.category %></h2>
  </div>
  
  <ul class="post-list">
    <% var year = 0 %>
    <% var change = false %>
    <% page.posts.sort('date', 'desc').each(function(post) { %>
      <% var itemYear = date(post.date, 'YYYY') - 0 %>
      <% change = year !== itemYear %>
      <% year = change ? itemYear : year %>
      <% if (change) { %>
        <!--h2><%= year %></h2-->
      <% } %>
      <li class="post-item">
        <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
      </li>
    <% }); %>
  </ul>
  <%- partial('_partial/pagination') %>
</div>
