<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <!--Search-->
  <% if (page.search) { %>
    <%- partial('_partial/search') %>
  <% } %>

  

  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>

    <!--Categories-->
  <% if (page.type==="categories") { %>  
    <% if (site.categories.length){ %>
      <div class="block-explore-title">
        <h2 class="block-explore-title-header"><a href="#文章分类" class="headerlink" title="文章分类"></a>文章分类</h2>
      </div>
      <span class="widget categories-list-all">
        <%- list_categories(site.categories) %>
      </span>
    <% } %>
  <% } %>

  <!--Tags-->
  <% if (page.type==="tags") { %>  
    <% if (site.tags.length) { %>
      <div class="block-explore-title">
        <h2 class="block-explore-title-header"><a href="#标签云" class="headerlink" title="标签云"></a>标签云</h2>
      </div>
      
      <span class="widget tagcloud">
        <ul>
        <!-- %- list_tags(site.tags) % -->
        <%- tagcloud(theme.tags_overview) %>
        </ul>
      </span>
    <% } %>
  <% } %>

  </div>
</article>
